name: Compass Icons CI

on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - name: Setup Node.js
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version: '16'
                  check-latest: true
            - name: npm ci and build
              run: |
                  npm ci
                  npm run build
            - name: Download demo package from Fontello
              run: |
                curl https://fontello.com/`cat .fontello-session`/get > fontello.zip
                7z x fontello.zip
                rm fontello.zip
            - name: Rename downloaded fontello package
              run: |
                  mv fontello* fontello
                  mv fontello/demo.html fontello/index.html
                  cp ./build/IconGlyphs* ./fontello
            - name: Archive artifacts
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
              with:
                  name: CompassIconFont
                  path: fontello
            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4.7.3
              with:
                  branch: gh-pages
                  folder: fontello
